.root {
    -fx-background-color: #767676;
    -fx-background-insets: -10px;
}
* {
    -fx-text-fill: #bebebe;
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-size: 20px;
    -fx-border-color:white;

}
.list-cell:hover {
    -fx-border-color: #d92828;

}

.button:hover {
    -fx-border-color: #d92828;
}
.list-cell:pressed {
    -fx-background-color: rgba(255, 0, 0, 0.32);
}
.button:pressed {
    -fx-background-color: rgba(255, 0, 0, 0.32);
}